*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/portada.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffee32;
    display: block;
    margin: auto;
    transition: 0.5;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.tex-box{
    width: 90%;
    color: #000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: right; 
}
.tex-box h1{
    font-size: 62px;
}
.tex-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #000;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #ffee32;
    background: #ffee32;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .tex-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #ffee32;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*main*/
main{
    background: #000;
}
.inici{
    text-align: center;
    color: #fff;
    padding-left: 32%;
    padding-top: 40%;
    position: absolute;
}
.inici p{
    padding-top: 10px;
    font-size: 13px;
}

/*galeria*/
.titol-galeria{
    color: #fff;
    text-align: center;
    padding-top: 20%;
    margin-bottom: 0;
    font-size: 40px;
}
.galeria{
    box-sizing: border-box;
    padding: 10%;
    padding-top: 5%;
}    
.foto{
    width: 100%;
}

 .row{
    display: flex; 
}
 .column{
    flex: 25%;
    padding: 5px; 
    }
    
    .column img{
    margin-top: 5px; 
    }
    .historia{
        background: rgba(255, 238, 50, 0.7);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media (max-width: 800px){
    .column{
    flex: 50%;
    }
    }
    
    @media (max-width: 600px){
    .column{
    flex: 100%;
    }
    }

/*fotografia del dia*/
.dia{
    margin: 20%;
    color: #fff;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-basis: 31%;
    background: rgba(255,238,40,0.7);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}
.dia h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.dia img{
    width: 100px
}
.dia:hover{
    box-shadow: 0 0 20px 0px rgba(255,255,255,0.5);
}
@media(max-width:700px){
    .dia{
        flex-direction: column;
    }
}

/*aside*/
aside{
    margin: 20%;
    margin-top: 10;
    margin-bottom: 0;
}
aside input, aside textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ffee32;
    background: transparent;
    color: #ffee32;
}
.red-btn{
    border: 1px solid #ffee32;
    background: transparent;
    color: #ffee32;
}
.titol-histories{
    color: #fff;
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 0;
}


/*footer*/

footer{
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
footer h4{
    margin-bottom: 25px;
    margin-top: 100px;
    font-weight: 600;
}
.icon .fa{
    color: #ffee32;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

footer{
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icon .fa{
    color: #ffee32;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
